.admin-layout {
  min-height: 100vh;
  background: #f7f7f7;

  &__main {
    min-height: 100vh;

    margin-left: 250px;
  }

  &__content {
    padding: 35px;
  }

  &__mobile-overlay {
    display: none;
  }

  @media (max-width: 768px) {
    &__main {
      margin-left: 0;
    }

    &__mobile-overlay {
      position: fixed;
      inset: 0;

      background: rgba(0, 0, 0, 0.45);

      z-index: 90;

      &.active {
        display: block;
      }
    }
  }
}
